.car-btn {
    background: blue;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

#movie-form {
    margin: 10px;
    
}

#add-car {
    background: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.container {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.gif {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}